body {
    background-image: url(blogAssets_2016_October+2016_October28_DeadByDaylight_05_Game-Screenshot_Meat-hook_770-770x481-bb2028e3be1a417c1d5dc1afd093f89a048adb47.png);
    color: aliceblue;
}

li {
    display: inline;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}