body {
    background-image: url(1818091.jpg);
    color: aliceblue;
}

ul {
    text-align: right;
}

li {
    display: inline;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}