li {
    display: inline;
}

h1 {
    text-align: center;
    color: aliceblue;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

body {
    background-image: url(min.png);
}

p {
    color: aliceblue;
    text-align: center;
}

.me {
    color: aqua
}

.view {
    color: aquamarine;
    text-align: center;
    margin-top: 50px;
}